BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 130
AccessModifierOffset: -4
NamespaceIndentation: All
SortIncludes: true
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
AlwaysBreakTemplateDeclarations: Yes
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline