BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 6
TabWidth: 6
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 100
AccessModifierOffset: -6
NamespaceIndentation: All
SortIncludes: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignTrailingComments: true